<% blogposts.each do |blogpost| %>
    <div class="col-4 mb-3">
        <div class="blogpost border">
            <%# <%= image_tag(property.image, :style => "height: 200px; width: 2000px; background-repeat: no-repeat; background-position: center center; background-size: cover;") %>
            <%# <%= image_tag property_path(property.image) %> 
            <div class="blogpost-summary p3">
                <h3 class="h5 mt-3 ml-2"><%= link_to blogpost.title, blogpost_path(blogpost) %></h3>
                <p class="mt-2 ml-2"><%= blogpost.summary %></p>
            </div>            
        </div>
    </div>
<% end %>