<main role="main" id="home-banner">

    <div class="cover-container d-flex h-100 p-1 mx-auto flex-column">

        <h1 class="cover-heading">Welcome to Property Finder</h1>
        <p class="lead">View, edit and delete properties from the Properties tab</p>
        <p class="lead">View and Edit your Account from the Settings section </p>
        <p class="lead">
          <a href="" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      

    </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>