<li class="nav-item">
  <%= link_to accounts_path, class: "nav-link" do %>
  <i data-feather="home"></i>
    Accounts <span class="sr-only">(current)</span>
  <% end %>
</li>

<li class="nav-item">
    <%= link_to properties_path, class: "nav-link" do %>
      <i data-feather="package"></i>
      Properties  
    <% end %>
</li>

<li class="nav-item">  
  <%= link_to blogposts_path, class: "nav-link" do %>
      <i data-feather="calendar"></i>
      Blog Posts
  <% end %>
</li>