<% @properties.each do |property| %>
    <div class="col-4">
        <%= image_tag property.image %>
        <h2 class="h5 mt-4"><%= link_to property.name, property_path(property) %></h2>
        <p><%= property.address %></p>
        <div class="amenities">
            <span><i data-feather="users"></i></span>
        </div>
    </div>
<% end %>