<main role="main" id="home-banner">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Search for your new Home today...</h1>
      <p>Find your perfect house, bungalow, apartments and complexes</p>
      <p><a class="btn btn-success" href="#" role="button">View Latest Properties</a></p>
    </div>
  </div>
  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
      <div class="col">
      <h3 class="mb-3">Latest Properties</h3>
        </div>
        </div>
        <div class="row">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>

  <section id="latest-blogposts" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Latest Blog Posts</h3>
        </div>
      </div>
      <div class="row">
        <%= render "blogposts/list", blogposts: @blogposts %>
      </div>
    </div>
  </section>

    <hr>

  </div> <!-- /container -->

</main>